:root {
  --gunmetal: #022b3a;
  --teal: #1f7a8c;
  --pistachio: #95bf74;
  --columbia: #cae9ff;
  --peach: #f7e3af;
}

@font-face {
  font-family: playfair;
  src: url("../../public/assets/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
  font-family: raleway;
  src: url("../../public/assets/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: lora;
  src: url("../../public/assets/Lora-VariableFont_wght.ttf");
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #022b3a;
}

h1,
h2 {
  font-family: playfair;
}

h3,
h4,
p {
  font-family: raleway;
}

hr {
  border: none;
  height: 2px;
  background-color: #f6f7ec;
  margin: 20px 0;
  width: 80%;
  align-self: center;
}

.content {
  min-height: 77vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  html {
    height: fit-content;
  }
  .content {
    max-width: 100%;
    min-height: auto;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 20px 0;
  }

  .homePage {
    padding: 10% 5%;
  }

  .opaque {
    width: 100%;
    padding: 5%;
  }

  .opaque img {
    height: 300px;
    width: 100%;
  }

  .navBar {
    padding: 0 5%;
  }

  .navLink {
    font-size: 16px;
    gap: 20px;
  }

  .logoArea img {
    height: 70px;
  }

  .contactLogo {
    height: 25px;
  }

  .contactDetails {
    flex-direction: column;
    gap: 20px;
  }

  .contactLink {
    font-size: 14px;
  }

  .copyright {
    font-size: 10px;
  }
}
